<%= form_for(@my_board) do |f| %>
  
  <div class="field">
          <%= f.text_field :name_of_board, :size => "45", :autofocus => :autofocus, :id => "name_of_board", :placeholder => "Type new project name here", :minlength => 5%>
    
  </div> 
 
<% end %>

