<%= form_for(@scrum_board) do |f| %>
  
  <div class="field">
    <%= f.label :name_scrum_board %><br />
    <%= f.text_field :name_of_board %>
  </div> 
  
   
 
<% end %>

 <div class="actions">
    <%= submit_tag("Submit") %>
  </div>