#name_of_board
  %h2  
    = @my_board.name_of_board
    
#main_container
  #to_do
    %h3  todo
    .block_to_do
      .sticker 
        +
        %a{:href=>"/stickers", :title => "Delete this sticker", :class => "icon_delete"}
          =image_tag("delete-icon.png", :alt => "Delete sticker")
                
      %div{:class => "sticker yellow"} 
        %p{:id => "text"} 
          Learn Lisp programming language
      %div{:class => "sticker green"} Learn Ruby programming language
      %div{:class => "sticker blue"} Go to GYM

  #in_progress
    %h3  in progress
    .block_in_progress
     
  #done
    %h3  done
    .block_done