@mixin colorize($color, $shine){

  background: #{$color};
  /* Old browsers */
  background: -moz-linear-gradient(top, #{$color} 0%, #{$shine} 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #{$color}), color-stop(99%, #{$shine}));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #{$color} 0%, #{$shine} 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #{$color} 0%, #{$shine} 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #{$color} 0%, #{$shine} 99%);
  /* IE10+ */
  background: linear-gradient(to bottom, #{$color} 0%, #{$shine} 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$color}", endColorstr="#{$shine}",GradientType=0 );
  /* IE6-9 */ }
