body {
  padding: 0;
  margin: 0;
  height: 700px;
  width: 100%;
  background: #e3dbd2;
  box-shadow: inset 0 100px 500px black;
  color: #fff }

@font-face{
	font-family: 'AvenirNextLTPro-Bold';
	src: url('AvenirNextLTPro-Bold.otf');
  font-weight: normal;
  font-style: normal;
	
	
}

font {
	color: #fff;
	}

h1 {
	font: bold 58px AvenirNextLTPro-Bold;
	color: #fff;
}

div .sticker {
  width: 115px;
  height: 114px;
  background: yellow;
  position: absolute;
  top: 200px;
  left: 300px;
  font: bold 14px/18px Helvetica, arial;
  padding: 15px;
  text-shadow: #eeeeee 0 1px 1px;
  color: #515050;
  box-shadow: #666666 0 8px 8px;
  border-top: 1px solid #eeeeee; }

.sticker .yellow {
  background: #fff073;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fff073 0%, #ffc446 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff073), color-stop(100%, #ffc446));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff073 0%, #ffc446 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff073 0%, #ffc446 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff073 0%, #ffc446 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fff073 0%, #ffc446 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff073', endColorstr='#ffc446',GradientType=0 );
  /* IE6-9 */ }

.sticker .green {
  background: #caf883;
  /* Old browsers */
  background: -moz-linear-gradient(top, #caf883 0%, #bac000 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #caf883), color-stop(99%, #bac000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #caf883 0%, #bac000 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #caf883 0%, #bac000 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #caf883 0%, #bac000 99%);
  /* IE10+ */
  background: linear-gradient(to bottom, #caf883 0%, #bac000 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#caf883', endColorstr='#bac000',GradientType=0 );
  /* IE6-9 */ }

.sticker .blue {
  background: #e7f6fb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e7f6fb 0%, #93cfdd 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7f6fb), color-stop(99%, #93cfdd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e7f6fb 0%, #93cfdd 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e7f6fb 0%, #93cfdd 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e7f6fb 0%, #93cfdd 99%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e7f6fb 0%, #93cfdd 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7f6fb', endColorstr='#93cfdd',GradientType=0 );
  /* IE6-9 */ }

.sticker .purple {
  background: #ffbdd8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffbdd8 0%, #dc85c8 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbdd8), color-stop(99%, #dc85c8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffbdd8 0%, #dc85c8 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffbdd8 0%, #dc85c8 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffbdd8 0%, #dc85c8 99%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffbdd8 0%, #dc85c8 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbdd8', endColorstr='#dc85c8',GradientType=0 );
  /* IE6-9 */ }

.sticker[data-id="1"] {
  top: 100px;
  left: 100px; }

.sticker[data-id="2"] {
  top: 100px;
  left: 270px; }

.sticker[data-id="3"] {
  top: 100px;
  left: 440px; }

.sticker[data-id="4"] {
  top: 100px;
  left: 610px; }
  
/* property for main block */
#main_container{
  width: 100%;
  height: 80%;
  font: bold 18px AvenirNextLTPro-Bold;
  color: #ebbc00;
}
#name_of_board h2{
	font: bold 48px AvenirNextLTPro-Bold;
}
#main_container h3{
	font: bold 40px AvenirNextLTPro-Bold;
	color: #ebbc00;
}
#to_do{
	text-align: center;
	position
	width: 30%;
	height: 100%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
#in_progress{
	text-align: center;
	width: 34%;
	height: 100%;
	float: left;
	border-left: 2px solid #eaeaea;
	border-right: 2px solid #eaeaea;
	padding-left: 10px;
	padding-right: 10px;
}
#done{
	text-align: center;
	width: 30%;
	height: 100%;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
}
footer{
  text-align: center;
  font: bold 16px AvenirNextLTPro-Bold, arial;
  color: #229b15;
}
