body {
  padding: 0;
  margin: 0;
  height: 700px;
  width: 100%;
  background: #e3dbd2;
  box-shadow: inset 0 100px 500px black;
  color: #fff;
  min-width: 500px;}

table{
  font: bold 18px AvenirNextLTPro-Bold;
  color: #fff;
}
th{
  font: bold 22px AvenirNextLTPro-Bold;
  color: #e9a642;
}

@font-face{
  font-family: 'AvenirNextLTPro-Bold';
  src: url('AvenirNextLTPro-Bold.otf');
  font-weight: normal;
  font-style: normal;
  }

@import "shadows_colors";

font {
  color: #fff;
  }

h1 {
  font: bold 58px AvenirNextLTPro-Bold;
  color: #fff;
}


.sticker {
  width: 115px;
  height: 114px;
 /* background: yellow;*/
  font: bold 90px Helvetica, arial;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
  text-shadow: #eeeeee 0 1px 1px;
  box-shadow: #666666 0 8px 8px;
  border-top: 1px solid #eeeeee;
  margin:{
    left: 0px;
    top: 0px;
    right: 15px;
    bottom: 20px;
          } 
  display: inline-block;
  position: relative;
  
  &.color.yellow {
     @include colorize(#fff073, #ffc446);
   }
  
  &.color.green {
     @include colorize(#caf883, #bac000);
    }
  
  &.color.blue {
     @include colorize(#e7f6fb, #93cfdd);
    }
  
  &.color.purple {
      @include colorize(#ffbdd8, #dc85c8);
    }
}


/* property for main block */
#main_container{
  width: 100%;
  height: 80%;
  font: bold 16px AvenirNextLTPro-Bold;
    h3 {
    font: bold 26px AvenirNextLTPro-Bold;
    color: #ebbc00;
    position: relative;
    top: -40px;
  };
  position: relative;
  top: -50px;
}

#name_of_board h2{
  font: bold 36px AvenirNextLTPro-Bold;
  position: relative;
  top: 20px;
  left: 56px;
  padding-top: 30px;
  padding-bottom: 45px;
}

#to_do{
  padding-left:50px;
  width: 30%;
  height: 100%;
  float: left;
 }

@mixin positions_blocks{
  width: 100%;
  height:100%;
  position: relative;
  top: -50px;
  padding: 10px;
}

.block_to_do{
  @include positions_blocks
}

#in_progress{
  width: 32%;
  height: 100%;
  float: left;
  border-left: 2px solid #eaeaea;
  border-right: 2px solid #eaeaea;
  padding-left: 25px;
  padding-right: 5px;

}

.block_in_progress{
  @include positions_blocks;
 
}

#done{
  width: 30%;
  height: 100%;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

.block_done{
  @include positions_blocks
}

.icon_delete{
  display: none;
  position: absolute;
  left: 35px;
  bottom: 25px;
}

h1{
  padding-left: 75px;
  padding-top: 20px;
  color:#ebbc00
}
.field{
padding-left: 50px;
margin: 0px;

}

input{
  margin: 0px;
  padding: 0px;
  display: block;
  font: bold 40px AvenirNextLTPro-Bold;
  height: 100px;
  width: 600px;
  color: #000;
  opacity: 1;
  &:focus {outline: none;};
     background-image: url('images/untitled-1.png');
    background-attachment:fixed;
  background: rgba( 255, 255, 255, 0);
  border: 0px solid #fff;
}

.actions{
  padding-left: 30px;
}
// hint on number of characters in the name of the board
#remember{
  position: realtive;
  font: bold 20px AvenirNextLTPro-Bold;
  color: #ff0000;
}

#submit_changes{
  display: inline-block;
  position: relative;
  top: -100px;
  font: bold 20px AvenirNextLTPro-Bold;
  color: #00ff00;
  height: 50px;
  width: 150px;
  type: button;
   background: #87837f; 
    -moz-box-shadow: 0 0 30px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 30px rgba(0,0,0,0.5); /* Параметры тени */
  border-radius: 10px;  
  
}
