<!DOCTYPE html>
<html>
<head>
	
  <title> Main page </title>
    <%= csrf_meta_tags %>
  <%= stylesheet_link_tag("application", 'my2', :media => "all") %>
  <%= javascript_include_tag "application" %>

</head>
<body>
	<div id="name_of_board">
		<h2> Here will be name of your Scrum Board </h2>
	</div>
	
	<div id="main_container">
		
		<div id="to_do">
			<h3>To do</h3>		
		</div>
		
		<div id="in_progress">
			<h3>In Progress</h3>
		</div>
		
		<div id="done">
			<h3> Done </h3>
		</div>
	
	</div>
	
	<%= yield %>
	
	<footer>
		... it created by &copy; Bogdan Naumenko / SoftServe
	</footer>
</body>
</html>
