%html
  %head
    %title Main page
    = csrf_meta_tags 
    = stylesheet_link_tag("application", 'my', :media => "all")
    = javascript_include_tag "application"

  %body
    #name_of_board
      %h2  
        Here will be name of your Scrum Board
    
    #main_container
    
      #to_do
        %h3  To do
        .block_to_do
          .sticker +
          %div{:class => "sticker yellow"} Learn Lisp programming language
          %div{:class => "sticker green"} Learn Ruby programming language
          %div{:class => "sticker blue"} Go to GYM

      #in_progress
        %h3  In Progress
      
      #done
        %h3  Done 
      
    = yield
      
    %footer  ...it created by Bogdan Naumenko / SoftServe